<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="templates.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">


</head>

<body>
    <div id="main-wrapper" class="flex">

        <div id="bigSidebar" class="fixed flex flex-col w-3/20 h-screen overflow-hidden text-white bg-purple-900 box">



            <div class="sidebar-logo bg-red">
                <h1 class="logo-text">Vixbot</h1>

            </div>

            <a class="flex items-center w-full h-12 px-3 mt-2 mt-20 hover:bg-gray-700 hover:text-gray-300"
                href="/templates">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                    <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                    <polyline points="2 17 12 22 22 17"></polyline>
                    <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                <span class="ml-2 text-sm font-medium">Templates</span>
            </a>


            <!-- Products link -->
            <a class="flex items-center w-full h-12 px-3 mt-2  hover:bg-gray-700 hover:text-gray-300" href="/products">
                <img src="/img/brand/folder.svg" alt="Products Icon" width="24" height="24">

                <span class="ml-2 text-sm font-medium">Products</span>
            </a>
            <!-- Templates link -->

            <a class="flex items-center w-full h-12 px-3 mt-2  hover:bg-gray-700 hover:text-gray-300 "
                href="/conversations">
                <img src="/img/brand/message-circle.svg" alt="Chat Icon" width="24" height="24">

                <span class="ml-2 text-sm font-medium">Vix Chat</span>
            </a>
            <a class="flex items-center w-full h-12 px-3 mt-2  hover:bg-gray-700 hover:text-gray-300"
                href="/conversations">
                <img src="/img/brand/globe.svg" alt="Products Icon" width="24" height="24">

                <span class="ml-2 text-sm font-medium">Explore</span>
                <span class="ml-1 px-1 py-1 text-sm font-medium text-white bg-blue-600 ml-10 rounded">NEW</span>
            </a>

        </div>

        <div id="mainContent" class="ml-3/20 pl-4 w-17/20 ">

            <h1 id="page-title">Templates</h1>


            <div class="progress">
                <div class="progress-bar" style="width:<%= progressPercentage %>%;background-color: <%= progressPercentage < 50 ? 'red' : 'green' %>;"></div>
              </div>
              <p class="p-3 text-gray-500">Optimize your results, complete your business onboarding. You have <%= totalQuestions - progressCount %> questions left.</p>

              
            <div class="header-container">
                <div class="search-bar">
                    <input type="text" placeholder="Search templates..." />
                </div>
            </div>

        
    
    <!--Categories Section-->
        
            <div class="categories-container">
                <div class="category-tag">
                    <span>Marketing </span>
                </div>
                <div class="category-tag">
                    <span>Brainstorming</span>
                </div>
                <div class="category-tag">
                    <span>Ad Creative </span>
                </div>
                <!-- Add more as needed -->
            </div>


    <!--Tab Section-->
    
            <div class="tab-container flex border-b border-gray-300">
                <button class="tab-button px-4 py-2 mr-2 border-b-2 border-transparent hover:border-gray-400 focus:border-blue-500 focus:outline-none" id="defaultTemplatesBtn">Default Templates</button>
                <button class="tab-button px-4 py-2 mr-2 border-b-2 border-transparent hover:border-gray-400 focus:border-blue-500 focus:outline-none" id="customTemplatesBtn">Custom Templates</button>
            </div>
            
    <!--Static Templates-->


    <div class="templates-container static-templates pb-12 pt-12">
        <% staticTemplates.forEach(function(template) { %>
            <div class="template-card">
                <img 
                src="<%= 
                template.name === 'Email Campaign' ? '/img/brand/email-logo.svg' :
                template.name === 'Social Media Plan' ? '/img/brand/social-media.svg' : 
                '/img/brand/fb-logo.svg' 
            %>" 
            class="icon" 
            alt="Icon"/>
                <a href="<%= template.link %>">
                    <h3 class="template-title"><%= template.name %></h3>
                </a>
                <p class="template-description text-gray-500"><%= template.description %></p>
            </div>
        <% }); %>
    </div>
    
    

     <!--Custom Templates-->
            
            <div id="template-list" class="pt-9">
                <div style="position: relative;">
                    <h1 class="text-3xl p-3"> My Templates</h1>
                    <button id="openModalBtn" class="create-template-btn">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                

                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span id="closeModalBtn" class="close">&times;</span>
                        <h1>Create Template</h1>
                        <form id="create-template-form" action="/create-template" method="post">
                            <label for="template_name">Template Name:</label><br>
                            <input type="text" id="template_name" name="template_name"><br>
                            <label for="template_details">Template Details:</label><br>
                            <input type="text" id="template_details" name="template_details"><br>
                            <label for="prompt">Prompt:</label><br>
                            <input type="text" id="prompt" name="prompt"><br>
                            <label for="category">Category:</label><br>
                            <input type="text" id="category" name="category"><br>
                            <label for="product_id">Product:</label><br>
                            <select id="product_id" name="product_id">
                                <% products.forEach((product)=> { %>
                                    <option value="<%= product._id %>">
                                        <%= product.product_name %>
                                    </option>
                                    <% }); %>
                            </select><br>
    
                            <input type="submit" value="Create Template">
                        </form>
                    </div>
                </div>


     <!--Custom Templates Container-->

                <div class="templates-container" id="card-container">
                    <% templates.forEach((template)=> { %>
                        <div class="template-card">
                            <img src="/img/brand/fb-logo.svg" class="icon" alt="Icon"/>
                            <h2 class="template-title">
                                <%= template.template_name %>
                            </h2>
                            <p class="template-description"><%= template.description %></p>
                            <a href="/template/<%= template._id %>">View Template</a>
                        </div>
                    <% }); %>
                </div>
                
            </div>

        </div>

    </div>

    <script>
        //Modal script
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("openModalBtn");
        var span = document.getElementById("closeModalBtn");

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        // Send form data to backend. 
        const form = document.getElementById('create-template-form');
        form.addEventListener('submit', (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            const formBody = {};
            formData.forEach((value, key) => {
                formBody[key] = value;
            });

            fetch('/create-template', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formBody),
            })
                .then(response => response.json())
                .then(data => {
                    // Append the new template to your list of templates
                    const templateList = document.getElementById('card-container'); // Changed from 'template-list'
                    const newTemplate = document.createElement('div');
                    newTemplate.classList.add('template-card');
                    newTemplate.innerHTML = `
                <h2>${data.template.template_name}</h2>
                <p>${data.template.template_details}</p>
                <a href="/template/${data.template._id}">View Template</a>
            `;
                    templateList.appendChild(newTemplate);

                    // Close the modal and clear the form
                    modal.style.display = "none";
                    form.reset();
                })
                .catch(error => console.error(error));
        });

    </script>
<script>
    // Tabs script
    var defaultTemplatesBtn = document.getElementById("defaultTemplatesBtn");
    var customTemplatesBtn = document.getElementById("customTemplatesBtn");
    var defaultTemplates = document.querySelector(".static-templates");
    var customTemplates = document.getElementById("template-list");
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModalBtn");
    var span = document.getElementById("closeModalBtn");
    
    defaultTemplatesBtn.classList.add('active');
    
    defaultTemplatesBtn.onclick = function () {
        if (!this.classList.contains('active')) {
            this.classList.add('active');
            customTemplatesBtn.classList.remove('active');
            defaultTemplates.style.display = "block";
            customTemplates.style.display = "none";
        }
    }
    
    customTemplatesBtn.onclick = function () {
        if (!this.classList.contains('active')) {
            this.classList.add('active');
            defaultTemplatesBtn.classList.remove('active');
            defaultTemplates.style.display = "none";
            customTemplates.style.display = "block";
        }
    }
    
    // When the user clicks the button, open the modal 
    btn.onclick = function (event) {
        // Added condition to check if event is triggered by user
        if(event.isTrusted) {
            modal.style.display = "block";
        }
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    customTemplatesBtn.onclick = function (event) {
    if (!this.classList.contains('active')) {
        this.classList.add('active');
        defaultTemplatesBtn.classList.remove('active');
        defaultTemplates.style.display = "none";
        customTemplates.style.display = "block";
    }
    if (event.target == customTemplatesBtn) {
        modal.style.display = "none";
    }
}

    
    </script>
    
</body>

</html>